#clock { list-style:none; padding:0; margin:100px auto; width:600px; height:600px; background:url(clockface.jpg) no-repeat 0 0; position:relative;}
#clock li {height:600px; width:30px; position:absolute; top:0; left:50%; margin-left:-15px;}
#hour { background:url(hourhand.png) no-repeat 0 0; }
#minutes { background:url(minhand.png) no-repeat 0 0;}
#seconds { background:url(sechand.png) no-repeat 0 0;}
