.testGradient {
    width: 400px;
    height: 300px;
    border: 1px black solid;
    background: -webkit-linear-gradient(0deg, green, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(0deg, gray, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(0deg, gray, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg, gray, blue); /* 标准的语法（必须放在最后） */
}
.bkg{
    border: 10px solid #655;
    background: yellowgreen;
outline: 5px solid deeppink;
    /*background-clip: padding-box;*/
}
.shadow{
    margin: 100px;
    height: 50px;
    width: 100px;
    background: yellowgreen;
    box-shadow: 0 0 0 10px #655,
                0 0 0 15px deeppink,
                0 2px 5px 15px rgba(0,0,0,.6)
}
.position{
    background: url("../images/sechand.png") no-repeat #58a;
    background-position: right 20px bottom 10px;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 10px;
}
