.testGradient {
    width: 400px;
    height: 300px;
    border: 1px black solid;
    background: -webkit-linear-gradient(0deg, green, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(0deg, gray, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(0deg, gray, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg, gray, blue); /* 标准的语法（必须放在最后） */
}
.bkg {
    border: 10px solid #655;
    background: yellowgreen;
    outline: 5px solid deeppink;    /*background-clip: padding-box;*/
}
.shadow {
    margin: 100px;
    height: 50px;
    width: 100px;
    background: yellowgreen;
    box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink, 0 2px 5px 15px rgba(0, 0, 0, .6)
}
.position {
    background: url(http://csssecrets.io/images/code-pirate.svg)
                no-repeat bottom right #58a;
    background-position: calc(100% - 20px) calc(100% - 10px);

    /* Styling */
    max-width: 10em;
    min-height: 5em;
    padding: 10px;
    color: white;
    font: 100%/1 sans-serif;
}
.shadow2{
    width: 100px;
    height: 100px;
    background: tan;
    border-radius: 2px;
    box-shadow: 0 0 0 6px #655;
}
.horizontal-stripes{
    margin:40px;
    width: 100px;
    height: 500px;
    background: linear-gradient(#fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0);
    background-size: 100% 45px;
}
.vertical-stripes{
    margin-top: 30px;
    width: 100px;
    height: 500px;
    background: linear-gradient(to right, #fb3 50%, #58a 0);
    background-size: 30px 100%;
}
.diagonal-stripes{
    margin-top: 30px;
    width: 100px;
    height: 500px;
    background: linear-gradient(45deg, #fb3 50%, #58a 0);
    background-size: 30px 100%;
}
