<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="js/ajax.js"></script>
    <title>Ajax全接触</title>
</head>

<body>
    <div class="form-group form-inline col-md-4 col-md-offset-4">
        <h3>员工查询：</h3>
        <label for="">请输入员工编号:</label>
        <input type="text" class="form-control" placeholder="请输入员工编号" id="keyword">
        <button class="btn btn-default" id="search">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <div class="searchResult"></div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <h3>员工创建/修改：</h3>
        <div class="form-group form-inline">
            <label for="">请输入员工编号：</label>
            <input type="text" class="form-control" placeholder="请输入员工编号" id="staffId">
        </div>
        <div class="form-group form-inline">
            <label for="">请输入员工姓名：</label>
            <input type="text" class="form-control" placeholder="请输入员工姓名" id="staffName">
        </div>
        <div class="form-group form-inline">
            <label for="">请选择员工性别：</label>
            <select id="staffSex">
                <option class="active">男</option>
                <option>女</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label for="">请输入员工职位：</label>
            <input type="text" class="form-control" placeholder="请输入员工职位" id="staffJob">
        </div>
        <button class="btn btn-success" id="create">创建</button>
        <button class="btn btn-success" id="update">修改</button>
        <div id="createResult"></div>
    </div>
</body>

</html>
