link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
link(href="http://www.imooc.com/data/jquery.notesforlightbox.css",rel="stylesheet")
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='http://www.imooc.com/data/jquery-1.8.2.min.js')
script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js')
script(src='http://www.imooc.com/data/jquery.form.js')
script(src="http://www.imooc.com/data/jquery.notesforlightbox.js")
script(src="http://www.imooc.com/data/jquery.jqzoom.js")
script(src="http://www.imooc.com/data/jquery.cookie.js")
script(src="http://www.imooc.com/data/jquery.autocomplete.js")
script(src="http://www.imooc.com/data/jquery.contextmenu.js")
script(src="http://www.imooc.com/data/jquery.lifocuscolor.js")
script(src="http://www.imooc.com/data/jquery.twoaddresult.js")
script(src="http://www.imooc.com/data/jquery-ui-1.9.2.min.js")