<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模拟小白鼠A端客人</title>
</head>

<body>
    <div>
        <p>模拟客人登陆后保存了cookie</p>
        <div>
            <p>登陆框:</p>
            <label for="name">用户名:</label>
            <input type="text" id="name" name="name">
            <label for="password">密码:</label>
            <input type="password" id="password" name="password">
            <input type="button" id="login" value="登陆">
        </div>
        <div>
            <input type="button" id="findName" value="搜索当前实时的用户名"> 当前用户名字为:
            <p id="actualName"></p>
        </div>
    </div>

    <div>
        <p>模拟存在XSS攻击风险的输入框:</p>
        <label for="xss">请输入你要显示的数据</label>
        <input type="text" id="xss">
        <input type="button" id="confirm" value="确认">
        <div>
            显示输出结果:

        </div>
    </div>
    <script>
        var login = document.getElementById("login");

        //发起ajax请求到A服务器并携带用户名和密码
        var sendData = function () {
            var name = document.getElementById("name");
            var password = document.getElementById("password");
            var user = {
                name: name.value,
                password: password.value
            }
            var xhr = new XMLHttpRequest(); //1.创建XHR对象
            //2.编写回调函数监听请求状态变化
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.responseText);
                }
            }
            //3.建立请求
            xhr.open('POST', 'http://localhost:3111/login', true); //允许异步
            //4.发送请求
            console.log(user)
            xhr.send(user);
        }

        login.addEventListener("click", sendData, false);
    </script>
</body>

</html>